ransomware/.vs/ransomware/*
ransomware/ransomware/Release/ransomware.tlog/*
ransomware/Release/ransomware_mod.exe

dll/mal_dll/mal_dll/Release/*
dll/mal_dll/mal_dll/Debug/*
dll/mal_dll/mal_dll/mal_dll.vcxproj
dll/mal_dll/mal_dll/mal_dll.vcxproj.filters
dll/mal_dll/Release/mal_dll.pdb
dll/mal_dll/Release/mal_dll.iobj
dll/mal_dll/Release/mal_dll.ipdb
dll/mal_dll/mal_dll.sln
